@model GEEK.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>

<h3>¿Está seguro que desea eliminar este producto?</h3>
<br />
<div>

    <h4>@Model.IdProducto</h4>
    <h4>@Model.NombreProducto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Precio:</dt>
        <dd class="col-sm-10">@Model.Precio</dd>

        <dt class="col-sm-2">Marca:</dt>
        <dd class="col-sm-10">@Model.Marca.NombreMarca</dd>

        <dt class="col-sm-2">Categoría:</dt>
        <dd class="col-sm-10">@Model.Categoria.DescripcionCategoria</dd>

        <dt class="col-sm-2">Descripción:</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>

        <dt class="col-sm-2">Descripción General:</dt>
        <dd class="col-sm-10">@Model.DescripcioGeneral</dd>

        <dt class="col-sm-2">Stock:</dt>
        <dd class="col-sm-10">@Model.StockProducto</dd>

        <dt class="col-sm-2">Descuento:</dt>
        <dd class="col-sm-10">@Model.Descuento</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <div class="form-goup-row">
            <div class="row mb-3 mt-1">
                <div class="col">
                    <button type="submit" class="btn btn-danger form-control">Eliminar</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
        </div>
    </form>
</div>

